/* utilities class */
.hide-scrollbar::-webkit-scrollbar{
  display: none !important;;
}

.stroy-collection{
  padding: 0 1em;
  grid-area: s;
  display: flex;
  column-gap: .5em;
  overflow-x:scroll;
  flex-wrap: nowrap;
  align-items:center;
}

.story{
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 50%;
}

.story-svg{
  aspect-ratio: 1/1;
  width: 4.5em;
  fill: white;
}

.footer{
  grid-area: f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid grey;
}